<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzlegame.me"
    android:versionCode="29"
    android:versionName="2.2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Need this permission for error tracking -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Need this permission for error tracking -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Need this permission for login in google -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- use this for google payment -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- use for push notification -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.puzzlegame.me.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.puzzlegame.me.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare Login Activity for Facebook login -->
        <activity
            android:name="com.appota.gamesdk.v4.ui.BaseSDKActivty"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- android:theme="@android:style/Theme.Dialog" -->
        <!-- Declare Login Activity for Facebook login -->
        <activity
            android:name="com.appota.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<!-- START for Push Notification -->
        <service android:name="com.appota.gamesdk.v4.widget.PushHandler" />

        <receiver
            android:name="com.appota.gamesdk.v4.network.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.puzzlegame.me" />
            </intent-filter>
        </receiver>
        <!-- END for Push Notification -->
        <!-- set Appota Api Key - replace with your apiKey -->
        <meta-data
            android:name="com.appota.apiKey"
            android:value="K-A164833-U00000-FSHFTL-AAB432B007C2EDBE" />

        <!-- Declare below meta-data for twitter login if you want to use your Twitter Application for login, default use Appota Twitter application -->
        <meta-data
            android:name="com.appota.twitter.consumer.key"
            android:value="@string/twitter_consumer_key" />
        <meta-data
            android:name="com.appota.twitter.consumer.secret"
            android:value="@string/twitter_consumer_secret" />
        <!-- Set Facebook Application ID -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Sender ID for push notification -->
        <meta-data
            android:name="com.appota.push.gcm_sender_id"
            android:value="id:YOUR_GCM_SENDER_ID" />
    </application>

</manifest>